<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/travel?serverTimezone=UTC"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.trav.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapping"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.trav.mapper"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <table schema="DB2ADMIN" tableName="agency_info" domainObjectName="AgencyDO"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableSelectByExample="false"
               enableDeleteByExample="false"
               selectByExampleQueryId="false"></table>
        <table schema="DB2ADMIN" tableName="user_info" domainObjectName="UserDO"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableSelectByExample="false"
               enableDeleteByExample="false"
               selectByExampleQueryId="false"></table>
        <table schema="DB2ADMIN" tableName="city_info" domainObjectName="CityDO"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableSelectByExample="false"
               enableDeleteByExample="false"
               selectByExampleQueryId="false"></table>
        <table schema="DB2ADMIN" tableName="group_info" domainObjectName="GroupDO"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableSelectByExample="false"
               enableDeleteByExample="false"
               selectByExampleQueryId="false"></table>
        <table schema="DB2ADMIN" tableName="order_info" domainObjectName="OrderDO"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableSelectByExample="false"
               enableDeleteByExample="false"
               selectByExampleQueryId="false"></table>
        <table schema="DB2ADMIN" tableName="price_detail" domainObjectName="PriceDetailDO"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableSelectByExample="false"
               enableDeleteByExample="false"
               selectByExampleQueryId="false"></table>
        <table schema="DB2ADMIN" tableName="route_info" domainObjectName="RouteDO"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableSelectByExample="false"
               enableDeleteByExample="false"
               selectByExampleQueryId="false"></table>
    </context>
</generatorConfiguration>